@import "tailwindcss";

@theme {
  --font-special: "Handlee", sans-serif;
  --font-primary: "Patrick Hand", cursive;

  --drop-shadow-box: 10px 10px 5px rgba(119, 153, 120, 100);
  --drop-shadow-letter: 4px 4px 2px rgba(119, 153, 120, 100);
}
