---
const { title, work, desc } = Astro.props;
---

<article class="bg-white rounded-2xl p-5 drop-shadow-box h-auto">
  <h1 class="text-4xl font-primary">{title}</h1>
  <h2 class="text-3xl my-2.5 font-primary">{work}</h2>
  <p class="text-3xl font-primary">{desc}</p>
</article>
