---
import TechCard from "./TechCard.astro";
const { tittle, time, text, src } = Astro.props;
---

<article class="grid grid-cols-2 gap-20">
  <figure class="bg-white p-5 rounded-2xl grid place-content-center">
    <img src={src} alt="" class="rounded-xl" />
  </figure>
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-5">
      <h1 class="font-inter text-6xl text-white font-bold">{tittle}</h1>
      <p class="font-inter text-white text-2xl">{text}</p>
    </div>
    <div class="grid grid-cols-3 gap-x-7 gap-y-5">
      <slot />
    </div>
  </div>
</article>
