---
import TechCard from "./TechCard.astro";
const { tittle, time, text, src } = Astro.props;
---

<article class="grid grid-cols-2 gap-20">
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-5">
      <h1 class="font-inter text-6xl text-white font-bold">{tittle}</h1>
      <p class="font-inter text-white text-2xl">{text}</p>
    </div>
    <div class="auto-grid">
      <slot />
    </div>
  </div>
  <figure
    class="bg-white p-5 rounded-2xl grid place-content-center drop-shadow-box"
  >
    <img src={src} alt="" class="rounded-xl" />
  </figure>
</article>
<style>
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 32px;
  }
</style>
