---
const { icon, name } = Astro.props;
---

<div class="flex flex-row bg-white w-auto justify-baseline p-3 px-5 rounded-xl">
  <img src={icon} alt="Icon tech image" class="mr-3" />
  <h1 class="text-3xl font-hand">{name}</h1>
</div>
