---
const { icon, name } = Astro.props;
---
<div class="flex flex-row bg-white w-40 justify-around p-2.5 rounded-lg">
    <img src={icon} alt="Icon tech image" class="mr-1">
    <h1 class="text-3xl font-hand">{name}</h1>
</div>