<h1 class="font-special text-white text-8xl mt-24 mb-6">About me</h1>

<div class="bg-white text-2xl p-5 rounded-2xl drop-shadow-box">
  <p class="font-primary text-4xl/normal font-medium">
    I'm Eric, a technology enthusiast with a strong interest in web development.
    I'm a curious and dedicated learner who sees technology as a constantly
    evolving field full of opportunities for growth. Outside the professional
    world, I enjoy reading, with epic fantasy being one of my favorite genres.
  </p>
</div>
