<h1 class="font-hand text-white text-8xl mt-24 mb-6">About me</h1>

<div class="bg-white text-2xl p-5 rounded-2xl drop-shadow-box">
  <p class="font-int text-3xl/normal font-medium">
    Since I rember, I have always felt the need and interest to learn how things
    are done, especially in the field of technology. Over the years, this
    curiosity led me into the world of computers, where I immersed myself in
    everything to do with programming. I was completely hooked and to this day I
    still have the same passion and dream of applying it to my work.
  </p>
</div>
