<div class="bg-white text-2xl p-5 rounded-lg drop-shadow-[10px_10px_5px_rgba(119,153,120,100)]">
    <p class="">
        Since I was a child, I have always felt the need and interest to learn how things are done, 
        especially in the field of technology. Over the years, this curiosity led me into the world of computers, 
        where I immersed myself in everything to do with programming. I was completely hooked and to this day 
        I still have the same passion and dream of applying it to my work.
    </p>
</div>