---
import ExperienceCard from "./Cards/experience_card.astro";
---

<section>
    <ul class="[&>li]:my-10">
        <li><ExperienceCard></ExperienceCard></li>
        <li><ExperienceCard></ExperienceCard></li>
        <li><ExperienceCard></ExperienceCard></li>
    </ul>
</section>