---
import ExperienceCard from "./Cards/experience_card.astro";
---

<h1 id="experiences" class="font-special text-white text-8xl mt-24 mb-6">
  Experiences
</h1>

<section>
  <div class="grid grid-cols-4 grid-rows-4 gap-10">
    <div class="col-span-4 row-span-2">
      <ExperienceCard
        title=" We're Sinapsis"
        work="Web Developer"
        desc="During my most recent internship at We're Sinapsis, I worked as part of the web development team, where I had the opportunity to apply a variety of techniques and technologies to develop custom websites for clients. Throughout this experience, I collaborated closely with the team to deliver high-quality, user-friendly web solutions, utilizing different frameworks and tools to meet each client's specific needs and requirements. My role involved working closely with the development team to build and optimize key features of the website, ensuring a smooth user experience"
      />
    </div>
    <div class="col-span-2 row-span-2 row-start-3">
      <ExperienceCard
        title="Phonetasticltd"
        work="Web Developer"
        desc="During my summer internship in Ireland, I had the opportunity to contribute to the development of the Phonestic website, an e-commerce platform designed for the purchase of technology products."
      />
    </div>
    <div class="col-span-2 row-span-2 col-start-3 row-start-3">
      <ExperienceCard
        title="Aefol"
        work="Systems trainee"
        desc="During my internship at AEFOL, I was primarily involved in designing, developing, and maintaining WordPress websites. Additionally, I contributed to the upkeep and optimization of the company's internal systems."
      />
    </div>
  </div>
</section>
