---
import ExperienceCard from "./Cards/experience_card.astro";
---

<section>
  <ul class="[&>li]:my-10">
    <li><ExperienceCard /></li>
    <li><ExperienceCard /></li>
    <li><ExperienceCard /></li>
  </ul>
</section>
