<header class="fixed top-0 w-screen z-5">
  <nav
    class="flex flex-wrap flex-row justify-between px-84 bg-white py-3 rounded-b-xl items-center [&>a]:font-hand [&>a]:text-2xl [&>a]:hover:scale-110 [&>a]:animate-hoverTextHeader"
  >
    <a href="#projects">Projects</a>
    <a href="#experiences">Experiences</a>
    <a href="/"><img class="w-6" src="svg_home.svg" alt="" /></a>
    <a href="#technologies">Technologies</a>
    <a href="#value">My value</a>
  </nav>
</header>
