<header>
    <nav class="flex flex-wrap flex-row justify-between px-84 bg-white py-3 rounded-b-xl items-center [&>a]:font-bold [&>a]:hover:scale-125 [&>a]:animate-hoverTextHeader">
        <a href="/">PROJECTS</a>
        <a href="/">EXPERIENCIES</a>
        <a href="/"><img class="w-6" src="svg_home.svg" alt=""></a>
        <a href="/">TECHNOLOGIES</a>
        <a href="/">MY VALUE</a>
    </nav>
</header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
    a {
        font-size: 1.2em;
        font-family: "Edu TAS Beginner", serif;
        font-weight: 500;
    }
</style>