<header class="fixed top-0 w-screen z-5">
    <nav class="flex flex-wrap flex-row justify-between px-84 bg-white py-3 rounded-b-xl items-center [&>a]:font-hand [&>a]:text-3xl [&>a]:hover:scale-125 [&>a]:animate-hoverTextHeader">
        <a href="/">PROJECTS</a>
        <a href="/">EXPERIENCIES</a>
        <a href="/"><img class="w-6" src="svg_home.svg" alt=""></a>
        <a href="/">TECHNOLOGIES</a>
        <a href="/">MY VALUE</a>
    </nav>
</header>