<section
  class="flex flex-col align-middle items-center justify-between mt-40 md:flex-row"
>
  <article
    class="border-16 border-[#7E5F3D] rounded-full drop-shadow-[10px_10px_5px_rgba(119,153,120,100)] overflow-hidden"
  >
    <img src="profile_pic.webp" alt="" class="w-72" />
  </article>
  <article
    class="bg-white flex flex-row md:flex-col w-max justify-between rounded-3xl align-middle p-6 h-80 drop-shadow-[10px_10px_5px_rgba(119,153,120,100)]"
  >
    <a href="https://www.linkedin.com/in/eric-baena/" target="_blank"
      ><img class="w-12" src="linkedin.png" alt="" /></a
    >
    <a href="https://github.com/EricB-59" target="_blank"
      ><img class="w-12" src="github.png" alt="" /></a
    >
    <a href="mailto:ebaenac59@gmail.com" target="_blank"
      ><img class="w-12" src="mail.png" alt="" /></a
    >
    <a
      href="https://drive.google.com/drive/folders/1o92QpWfGFgJOgIjd0gcdeOW9UZGk4Bne?usp=sharing"
      target="_blank"><img class="w-12" src="cv.png" alt="" /></a
    >
  </article>
  <article>
    <h1
      class="font-hand text-9xl text-white drop-shadow-[5px_5px_2px_rgba(119,153,120,100)]"
    >
      Eric Baena
    </h1>
    <h1
      class="font-hand text-7xl text-white drop-shadow-[5px_5px_2px_rgba(119,153,120,100)]"
    >
      Web Developer
    </h1>
  </article>
</section>
