<section class="flex flex-row justify-start gap-36 align-middle">
    <div class="border-16 border-[#7E5F3D] rounded-4xl drop-shadow-[10px_10px_5px_rgba(119,153,120,100)]">
        <img src="profile_pic.webp" alt="" class="w-64 rounded-4xl">
    </div>
    <div class="bg-white flex flex-col justify-between rounded-md align-middle p-6 h-72">
        <a href=""><img class="w-12" src="linkedin.png" alt=""></a>
        <a href=""><img class="w-12" src="github.png" alt=""></a>
        <a href=""><img class="w-12" src="mail.png" alt=""></a>
        <a href=""><img class="w-12" src="cv.png" alt=""></a>
    </div>
    <div>
        <h1 class="text-6xl">Eric Baena</h1>
        <h1 class="text-6xl">Web Developer</h1>
    </div>
</section>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&display=swap');
    h1 {
        font-family: "Caveat";
    }    
</style>