---
import NormalCard from "./card_projects/normal_card.astro";
import SmallCard from "./card_projects/small_card.astro";
import ProjectLeftCard from "./Cards/ProjectLeftCard.astro";
import ProjectRightCard from "./Cards/ProjectRightCard.astro";
---

<section class="flex flex-col gap-28">
    <ProjectLeftCard 
        src="projectsImgs/Project-Swanest-Img.png" 
        tittle="Swanest" 
        text="Swanest is an innovative dating web application designed to facilitate meaningful connections between people."
    ></ProjectLeftCard>
    <ProjectRightCard 
        src="projectsImgs/Project-Swanest-Img.png" 
        tittle="Swanest" 
        text="Swanest is an innovative dating web application designed to facilitate meaningful connections between people."
    ></ProjectRightCard>
</section>