---
import ProjectLeftCard from "./Cards/ProjectLeftCard.astro";
import ProjectRightCard from "./Cards/ProjectRightCard.astro";
import TechCard from "./Cards/TechCard.astro";
---

<h1 id="projects" class="font-special text-white text-8xl mt-24 mb-6">
  Projects
</h1>

<section class="flex flex-col gap-20">
  <ProjectLeftCard
    src="projects/Project-Swanest-Img.png"
    tittle="Swanest"
    text="Swanest is an innovative dating web application designed to facilitate meaningful connections between people."
  >
    <TechCard icon="icons/tech-angular.svg" name="Angular" />
    <TechCard icon="icons/tech-symfony.svg" name="Symfony" />
    <TechCard icon="icons/tech-tailwind.svg" name="Tailwind" />
    <TechCard icon="icons/github.svg" name="Github" />
    <TechCard icon="icons/tech-figma.svg" name="Figma" />
  </ProjectLeftCard>
  <ProjectRightCard
    src="projects/Project-Veganashi-Img.png"
    tittle="Veganashi"
    text="Veganashi is a website of a vegan sushi restaurant that I was working on during my internship at We're Sinapsis."
  >
    <TechCard icon="icons/tech-wordpress.svg" name="Wordpress" />
    <TechCard icon="icons/tech-figma.svg" name="Figma" />
    <TechCard icon="icons/tech-elementor.svg" name="Elementor" />
  </ProjectRightCard>
</section>
<article class="w-full grid place-content-center">
  <div
    class="flex flex-row bg-white w-auto h-auto p-5 mt-28 justify-around rounded-2xl gap-2 align-middle"
  >
    <img src="icons/github.svg" />
    <a
      target="_blank"
      href="https://github.com/EricB-59?tab=repositories"
      class="text-2xl font-hand">Repositories</a
    >
  </div>
</article>
