<h1 id="technologies" class="font-special text-white text-8xl mt-24 mb-6">
  Technologies
</h1>

<section class="grid gap-15 grid-cols-2 grid-rows-2">
  <article
    class="bg-white rounded-xl p-5 flex flex-col justify-center drop-shadow-box"
  >
    <h1 class="font-primary text-4xl text-center my-2">Learned</h1>
    <ul
      class="grid grid-cols-5 grid-rows-2 gap-5 p-5 [&>li>img]:w-full [&>li]:p-3"
    >
      <li><img src="icons/tb-html.webp" alt="" /></li>
      <li><img src="icons/tb-css.webp" alt="" /></li>
      <li><img src="icons/tb-js.webp" alt="" /></li>
      <li><img src="icons/tb-php.webp" alt="" /></li>
      <li><img src="icons/tb-java.webp" alt="" /></li>
      <li><img src="icons/tb-figma.webp" alt="" /></li>
      <li><img src="icons/tb-github.webp" alt="" /></li>
      <li><img src="icons/tb-wordpress.webp" alt="" /></li>
      <li><img src="icons/tech-symfony.svg" alt="" /></li>
      <li><img src="icons/tb-mysql.webp" alt="" /></li>
    </ul>
  </article>
  <article class="bg-white rounded-xl p-5 flex justify-center drop-shadow-box">
    <h1 class="font-primary text-4xl">Learning</h1>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </article>
  <article
    class="bg-white col-span-2 rounded-xl p-5 flex justify-center drop-shadow-box"
  >
    <h1 class="font-primary text-4xl">Future</h1>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </article>
</section>
