<h1 id="value" class="font-special text-white text-8xl mt-24 mb-6">
  My value in your company
</h1>

<div class="bg-white text-2xl rounded-2xl drop-shadow-box">
  <p class="font-primary text-4xl/normal font-medium p-5">
    Throughout my professional and personal career, technology has been a
    central axis that has shaped my way of thinking and approaching challenges.
    From my first approaches to my consolidation in the programming field, I
    have developed key skills that bring significant value to any company. My
    natural curiosity and constant desire to learn allow me to quickly adapt to
    new technologies and methodologies, keeping me at the forefront in a
    constantly evolving environment. <br /><br />I am dedicated, detail oriented
    and passionate about problem solving, qualities that drive me to strive for
    excellence in every project I undertake. My ability to approach challenges
    with a combination of creativity and logic allows me to develop innovative
    solutions that optimize processes and improve efficiency. <br /><br />My
    dream is to apply this passion in a professional environment, using my
    knowledge and enthusiasm to further the company's goals. Working in a team,
    sharing ideas and working together to achieve ambitious goals is part of my
    nature and one of my greatest motivators. I believe that my proactive
    approach, coupled with my perseverance, will go a long way in meeting the
    challenges ahead and making a positive and lasting impact on your
    organization.
  </p>
</div>
