---
import { Image } from "astro:assets";
import src from '../../assets/Swanest.png';

const { tittle, time, text } = Astro.props;
---
<section class="bg-white rounded-2xl px-5 py-3 drop-shadow-[10px_10px_5px_rgba(119,153,120,100)] static h-96">
    <h2 class="mb-5 text-7xl font-[Nunito]">{tittle}</h2>
    <div class="rounded-lg w-72">
        <Image src={src} alt="" class="rounded-xl"></Image>
    </div>
    <p class="mb-5 text-3xl font-[Edu_TAS_Beginner]">{text}</p>
    <p class="">{time}</p>
</section>