---
import { Image } from "astro:assets";
import src from '../../assets/Swanest.png';

const { tittle, time, text } = Astro.props;
---
<section class="bg-white rounded-2xl px-5 py-3 drop-shadow-[10px_10px_5px_rgba(119,153,120,100)] h-96 overflow-hidden relative">
    <div class="w-64 absolute top-0 left-0">
        <Image src={src} alt="" class="rounded-br-lg"></Image>
    </div>
    <h2 class="flex mb-5 pt-5 mr-5 text-6xl font-[Nunito] justify-end">{tittle}</h2>
    <p class="mt-20 mb-5 text-2xl font-[Nunito]">{text}</p>
    <p class="flex justify-end mt-[-20px]">{time}</p>
</section>